# Allow aliases to be with sudo
alias sudo="sudo "

#CERN Kerberos Init
alias mykinit='kinit -l 7d mdemmer@CERN.CH'

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~"
alias -- -="cd -"

# be faster aliase
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias cl='clear'
alias cls='clear'
alias h='history'
alias df='df -h'

# List dir contents aliases
# ref: http://ss64.com/osx/ls.html
# Long form no user group, color
alias l="ls -oG"
alias ll='ls -lahG'
# Order by last modified, long form no user group, color
alias lt="ls -toG"
# List all except . and ..., color, mark file types, long form no user group, file size
alias la="ls -AGFoh"
# List all except . and ..., color, mark file types, long form no use group, order by last modified, file size
alias lat="ls -AGFoth"

# add standard options to command
alias mkdir="mkdir -vp"


# Concatenate and print content of files (add line numbers)
alias catn="cat -n"

# Show/hide hidden files in Finder
alias showdotfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidedotfiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# resume scp
alias scpresume='rsync --partial --progress --rsh=ssh'

#LHCb Software etc
alias lhcbSetup='source /lhcbsoft/LHCbSoftwareSetup.sh'

alias spr='SetupProject ROOT'
alias spb='SetupProject Brunel'
alias spd='SetupProject DaVinci'
alias spg='SetupProject Gauss'
alias spgg='SetupProject Ganga'

alias py2root5='source /opt/rh/miniconda/scripts/py2root5.sh'
alias py2root6='source /opt/rh/miniconda/scripts/py2root6.sh'
alias py3root6='source /opt/rh/miniconda/scripts/py3root6.sh && cd /opt/rh/miniconda/envs/py3root6/bin/ && source thisroot.sh'

# ROOT stuff
#alias root='/Applications/root/bin/root.exe'
